.App {
  max-width: 100%;
  min-height: 84vh;
  margin: 0 auto;
  color: white;
}

.dark-mode {
  background-color: rgb(25, 31, 34);
  color: white;
}

.dark-button {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}