body {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', sans-serif;
  letter-spacing: -0.5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(50, 50, 50);
  color: lightgrey;
}